<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
<link rel="stylesheet" type="text/css" href="css/main.css"></link>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
 <div class="member-header" style="padding:40px;">
	    <h5 class="modal-title" id="savePostsLabel">로그인 페이지</h5>
	</div>
    <form th:action="@{/loginPro}" method="post">
     <div class="form-group-login">
      <input type="text" id="username" name="username" class="fadeIn second" placeholder="이메일(example@welcom.co.kr)" value=""/>
     </div>
     <div class="form-group-login">
      <input type="password" id="password" name="password" class="fadeIn third" placeholder="비밀번호"/>
      <p th:if="${loginError}" class="error-message">아이디 또는 비밀번호가 다릅니다. </p>
    </div>  
    <input type="submit" class="fadeIn fourth" value="로그인"/>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/registration">회원가입</a>
      또는
      <a class="underlineHover" href="/ResetPassword">비밀번호 변경</a>
    </div>
  </div>
  </div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>