<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/passwordReset.css">
</head>
<body>
<div class="password-reset-form" style="margin-top:10%;">
<div class="password-reset-header">
	  비밀번호 변경 페이지
</div>
 <form th:action="@{/ResetPassword/pro}" th:object="${prdto}" method="post">

         <input type="hidden" name="token" th:value="${token}"/>
         <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
             <div class="input-group">
                <label>비밀번호:</label><input id="password" class="form-control"  type="password" th:field="*{password}"/>
             </div>
         </div>
             <div class="input-group">
                  비밀번호 확인:<input id="confirmpassword" class="form-control" type="password" th:field="*{confirmpassword}"/>
             </div>
             <div style="height:80px; margin-left:45%;">
	             <p class="error-message" th:each="error: ${#fields.errors('password')}"
	                th:text="${error}">Validation error</p>
		           <p th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
		            th:text="${error}">Validation error</p> 
		             <p th:text="${error}" class="error-message" ></p>
         	</div>
         <div class="submit-btn" style="padding:20px;">
             <button type="submit" class="btn btn-block btn-success">비밀번호 변경</button>
             <button type="button" onclick="javascript:location.href='/';">취소</button>
         </div>
</form>
</div>
</body>
</html>