<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/passwordReset.css">
</head>
<body>
<div class="password-reset-form" style="margin-top:10%;">
<div class="password-reset-header">
	  비밀번호 변경 페이지
</div>
<form th:action="@{/ResetPassword/verificationMail}" th:object="${pfdto}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-envelope color-blue"></i>
              </span>
             <label>회원님의 이메일 주소:</label><input id="email" class="form-control" th:field="*{email}"/>
          </div>
      </div>
          <div style="height:80px;">
          <p class="error-message" th:each="error : ${#fields.errors('email')}"
             th:text="${error}">Validation error</p>
          <p th:if="${mailSended}" class="error-message">비밀번호 재발급 이메일을 전송했습니다.</p>
          </div>
      <div class="submit-btn">
          <button type="submit" class="btn btn-success btn-block">이메일 전송</button>
          <button type="button" onclick="javascript:location.href='/';">취소</button>
      </div> 
</form>
</div>
</body>
</html>